<a href="https://colab.research.google.com/github/Kudalenikita/CVFS/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#A.Type conversion practice
#input amount in usd convert to INR(1USD = 83.12INR) and display both integer and float varaible


#1.Currency converter

USD_INR_CON = 83.12

USD = int(input("Enter USD :"))

INR_float = USD * USD_INR_CON
INR_int = int(INR_float)

print("Amount in INR in int: ",INR_int)
print("Amount in INR in float: ",INR_float)

Enter USD :8
Amount in INR in int:  664
Amount in INR in float:  664.96

In [5]:
#Shopping cart Total
#Ask User for Two item prices(as string),display concantenated price(string) and total price(integer sum)
x= input("Enter your price of first product you brought:")
y = input("Enter your price of Secound product you brought:")
z = x+y
Con_price = z
Total_price = int(x) + int(y)
print("Concanated Price of product as String: ",Con_price)
print("Total Price of product as integer: ",Total_price)

Enter your price of first product you brought:80
Enter your price of Secound product you brought:89
Concanated Price of product as String:  8089
Total Price of product as integer:  169

In [6]:
#TEmprature Convertor
#Convert a celsius value entered by user into Fahrenheit(float) and Kelvin(float) and also display rounded integer value
#Fahrenheit (°F) = (Celsius × 9/5) + 32
#Kelvin (K) = Celsius + 273.15

celsius = float(input("Enter celsius value: "))
F = (celsius * 9/ 5) +32
K = celsius +273.15

print("Fahrenheit(float) value is: ",F)
print("Kelvin(float) value is: ",K)

print("Rounded temperature in Fahrenheit (integer):", round(F))
print("Rounded temperature in Kelvin (integer):", round(K))

Enter celsius value: 7
Fahrenheit(float) value is:  44.6
Kelvin(float) value is:  280.15
Rounded temperature in Fahrenheit (integer): 45
Rounded temperature in Kelvin (integer): 280

In [12]:
#Digital Clock Secound  Counter
# Input hours and minutes as integers, convert total time into secound(int)

HR = int(input("Enter Hours : "))
Min= int(input("Enter Minutes: "))

Total_Time = ((HR* 3600)+(Min*60))

print("Total time in sec is : ",Total_Time)

Enter Hours : 0
Enter Minutes: 1
Total time in sec is :  60

In [14]:
#Exam Score Processing
#Taking Student marks in float , store as int(rounded down) for record-Keeping ,display both
OS =float(input("Enter marks in Operating System: "))
CN =float(input("Enter marks in Computer Network "))
BCN =float(input("Enter marks in BCN: "))

print("------------------------------------------------------------")

print("float value of Operating System: ",(OS))
print("float value of  Computer Network : ",(CN))
print("float value of  BCN: ",(BCN))

print("------------------------------------------------------------")

print("Rounded Marks of Operating System: ",round(OS))
print("Rounded Marks of  Computer Network : ",round(CN))
print("Rounded Marks of BCN: ",round(BCN))

Enter marks in Operating System: 60.9
Enter marks in Computer Network 50.8
Enter marks in BCN: 55
------------------------------------------------------------
float value of Operating System:  60.9
float value of  Computer Network :  50.8
float value of  BCN:  55.0
------------------------------------------------------------
Rounded Marks of Operating System:  61
Rounded Marks of  Computer Network :  51
Rounded Marks of BCN:  55

In [17]:
#B.if-else practice
#Odd and Even Eligiblity
#Input age,check if eligible to vote.If yes, check if age is odd or even

age = int(input("Enter Age: "))
if(age >= 18):
  print("YOUR ELIIBLE FOR VOTE!!!!")
  if(age %2 == 0):
    print("Age is Even")
  else:
    print("Age is Odd")
else:
  print("Your not eligible..Sorry!")

Enter Age: 30
YOUR ELIIBLE FOR VOTE!!!!
Age is Even

In [19]:
#Discount Eligiblity
#input bill amount: if>=1000-> 10% discount
#Else not discount

price = int(input("Enter Total bill Amount: "))
if(price >= 1000):
   print("Congratulation ...You Will got 10% Discount")
else:
  print("Sorry!!! NO Discount")

Enter Total bill Amount: 12000
Congratulation ...You Will got 10% Discount

In [22]:
#Speed Fine Calculator->
#input vehicle speed: <= 60 :No fine
#60-> rupees 200 fine

print("Calculator for Fine on Vehicle Speed")
speed = int(input("Enter speed of vehicle:"))

if(speed <= 60):
  print("Thanku.. There is no fine on your vehicle")
elif(speed>60):
  print("Fine on your vehicle is 200 rupees")

Calculator for Fine on Vehicle Speed
Enter speed of vehicle:70
Fine on your vehicle is 200 rupees

In [24]:
#Water Bill check
#Input water usage in liters:if>=5000->print "Excess Usage", else "Normal Usage"

print("WaterBill Check")
liters= int(input("Enter Water usage in liters:"))

if(liters >= 5000):
  print("Excess Usage")
else:
  print("Normal Usage")

WaterBill Check
Enter Water usage in liters:400
Normal Usage

In [26]:
#Exam pass/Fail
#input marks; if>=40 ->pass else fail

marks = float(input("Enter marks: "))
if(marks >= 40):
  print("Your Pass")

else:
  print("Your Fail")

Enter marks: 35
Your Fail

In [28]:
# C: elif Ladder practice
#Restaurant Menu
# 1->Pizza , 2->Burger , 3 ->Pasta else -> Invalid CHoice

print("Welcome to restaurant Menu..")

print("-------------------------------------------------------------")
print("Menu is: ")
print("1->Pizza")
print("2->Burger ")
print("3 ->Pasta")

print("-------------------------------------------------------------")

food = int(input("PLease selectfor pizza select 1, Burger select 2, pasta select 3"))

if(food == 1):
   print("Thanku for order Pizza")
elif(food == 2):
   print("Thanku for order Burger")
elif(food == 3):
   print("Thanku for order Pasta")
else:
   print("Invalid Input Sorry try again")

Welcome to restaurant Menu..
-------------------------------------------------------------
Menu is:
1->Pizza
2->Burger
3 ->Pasta
-------------------------------------------------------------
PLease selectfor pizza select 1, Burger select 2, pasta select 33
Thanku for order Pasta

In [31]:
#grade System
#>=90 ->A    ,>=75->B  ,>=60:C  . <60:D

print("This is grade System...")
marks = float(input("Enter your marks: "))
if(marks >= 90):
  print("A grade")
elif(marks >= 75):
  print("B grade")
elif(marks >= 60):
  print("C grade")
elif(marks < 60):
  print("D grade")
elif(marks < 40):
  print("FAIL")

This is grade System...
Enter your marks: 76.890
B grade

In [37]:
#Movie Ticket Pricing
#age<12 ->100 ,age:12-59 ->150 ,age>=60 ->80
print("Movie Ticket Pricing")
age= float(input("Enter your age: "))
if(age < 12):
  print("Movie Ticket For person is 100 rupees..Thanku for Check")
elif( age <= 59 ):
  print("Movie Ticket For person is 150 rupees..Thanku for Check")
elif(age >= 60):
  print("Movie Ticket For person is 80 rupees..Thanku for Check")

Movie Ticket Pricing
Enter your age: 11
Movie Ticket For person is 100 rupees..Thanku for Check

In [ ]:
#BMI Classification
#UnderWeight ,NOrmal,OverWeight,Obese categories based on BMI formula.